.main-li {
  list-style-type: none;
  font-style: normal;
  margin-bottom: 30px;

  .caption {
    text-align: center;
    @include font($fw: 700, $fs: 14px, $lh: 1.71);
    // margin-bottom: 10px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
