//.list-features-svg {
//display: flex;
//flex-wrap: wrap;
//}
@media screen and (min-width: 768px) {
  .list-features-svg {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .list-features {
    flex-basis: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}
.list-features {
  flex-direction: column;
}
// .list-features:not(:last-child) {
//   margin-right: 30px;
// }
.features-icon {
  @extend %align;
  //width: 450px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.icon {
  width: 70px;
  height: 70px;
}
.features {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 0;
    margin-bottom: 94px;
  }
  .list-features {
    flex-basis: calc((100% - 15px * 8) / 4);
  }
}
