.mobile-close-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 8px;
  right: 8px;
}
.mobile-close-btn:hover .close-icon,
.mobile-close-btn:focus .close-icon {
  fill: var(--accent-color);
}
.close-icon {
  width: 40px;
  height: 40px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  transition: transform 500ms linear;
  z-index: 999;
}
.li-studio {
  margin-bottom: 32px;
  .link-studio {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
  }
}
.li-portfolio {
  margin-bottom: 35px;
  .link-portfolio {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
.list-contakt-menu {
  margin-top: auto;
}
.link-contacty {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.li-tel {
  margin-bottom: 32px;
  .link-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
.li-mail {
  margin-bottom: 64px;
  .link-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #757575;
  }
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
}
.menu-social {
  display: flex;
  flex-wrap: wrap;
}
.menu-social-item {
  display: flex;
  .menu-social-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22222;
    letter-spacing: 0.02em;
    color: var(--akcent-color);
  }
}
.vertical-line {
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 479px) {
  .mobile-menu .size-menu {
    font-size: 30px;
    line-height: 1.17;
  }
  .mobile-menu .size-menu-contakt{
    font-size: 20px;
    line-height: 1.17;
  }
  .mobile-menu .menu-social-link{
    font-size: 9px;
    line-height: 1.2;
  }
}
